<h1>Python Tuples</h1>
A tuple in Python is an immutable ordered collection of elements. Tuples are similar to lists, but unlike lists, they cannot be changed after their creation (i.e., they are immutable). Tuples can hold elements of different data types. The main characteristics of tuples are being ordered , heterogeneous and immutable.

<h1>Creating a Tuple</h1>
A tuple is created by placing all the items inside parentheses (), separated by commas. A tuple can have any number of items and they can be of different data types.

Example:

In [1]:
# Creating an empty Tuple
tup = ()
print(tup)

# Using String
tup = ('hi', 'every')
print(tup)

# Using List
li = [1, 2, 4, 5, 6]
print(tuple(li))

# Using Built-in Function
tup = tuple('one')
print(tup)

()
('hi', 'every')
(1, 2, 4, 5, 6)
('o', 'n', 'e')

<h1>Creating a Tuple with Mixed Datatypes.</h1>
Tuples can contain elements of various data types, including other tuples, lists, dictionaries and even functions.

Example:

In [2]:
# Creating a Tuple with Mixed Datatype
tup = (5, 'Welcome', 7, 'school')
print(tup)

# Creating a Tuple with nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'school')
tup3 = (tup1, tup2)
print(tup3)

# Creating a Tuple with repetition
tup1 = ('school',) * 3
print(tup1)

# Creating a Tuple with the use of loop
tup = ('school')
n = 5
for i in range(int(n)):
    tup = (tup,)
    print(tup)

(5, 'Welcome', 7, 'school')
((0, 1, 2, 3), ('python', 'school'))
('school', 'school', 'school')
('school',)
(('school',),)
((('school',),),)
(((('school',),),),)
((((('school',),),),),)

<h1>Accessing of Tuples</h1>
We can access the elements of a tuple by using indexing and slicing, similar to how we access elements in a list. Indexing starts at 0 for the first element and goes up to n-1, where n is the number of elements in the tuple. Negative indexing starts from -1 for the last element and goes backward.

Example:

In [3]:
# Accessing Tuple with Indexing
tup = tuple("Geeks")
print(tup[0])

# Accessing a range of elements using slicing
print(tup[1:4])  
print(tup[:3])

# Tuple unpacking
tup = ("Geeks", "For", "Geeks")

# This line unpack values of Tuple1
a, b, c = tup
print(a)
print(b)
print(c)

G
('e', 'e', 'k')
('G', 'e', 'e')
Geeks
For
Geeks

<h1>Concatenation of Tuples</h1>
Tuples can be concatenated using the + operator. This operation combines two or more tuples to create a new tuple.

Note- Only the same datatypes can be combined with concatenation, an error arises if a list and a tuple are combined.

In [4]:
tup1 = (0, 1, 2, 3)
tup2 = ('Geeks', 'For', 'Geeks')

tup3 = tup1 + tup2
print(tup3)

(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

<h1>Slicing of Tuple</h1>
Slicing a tuple means creating a new tuple from a subset of elements of the original tuple. The slicing syntax is tuple[start:stop:step].

Note- Negative Increment values can also be used to reverse the sequence of Tuples.

In [5]:
# Slicing of a Tuple with Numbers
tup = tuple('GEEKSFORGEEKS')

# Removing First element
print(tup[1:])

# Reversing the Tuple
print(tup[::-1])

# Printing elements of a Range
print(tup[4:9])

('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')
('S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G')
('S', 'F', 'O', 'R', 'G')

<h1>Deleting a Tuple</h1>
Since tuples are immutable, we cannot delete individual elements of a tuple. However, we can delete an entire tuple using del statement.

Note- Printing of Tuple after deletion results in an Error.

In [6]:
# Deleting a Tuple

tup = (0, 1, 2, 3, 4)
del tup

print(tup)

NameError: name 'tup' is not defined

<h1>Python Update Tuples</h1>
Tuples in Python are often introduced as immutable objects, meaning once a tuple is created, its contents cannot be modified or updated directly. However, there are techniques that allow us to "update" a tuple if we need to change its contents.

Reassigning Entire Tuple
The simplest way to "update" a tuple is by reassigning it entirely. Since tuples are immutable, to change any value, weâ€™ll need to create a new tuple with the updated values.

In [7]:
# Original tuple
tup = (1, 2, 3, 4)

# Reassigning the tuple
tup = (10, 2, 3, 4)

# Printing the updated tuple
print(tup)

(10, 2, 3, 4)

<h1>Updating Tuples by Concatenation</h1>
You can create a new tuple by concatenating parts of the original tuple along with new elements.

In [8]:
# Original tuple
tup1 = (1, 2, 3, 4)

# Concatenate new values to form a new tuple
tup2 = (10,) + tup1[1:]  # Keep the rest of the tuple intact

# Printing the updated tuple
print(tup2)

(10, 2, 3, 4)

<h1>Using Tuple Unpacking</h1>
Tuple unpacking can be used to extract parts of a tuple and modify specific elements without changing the entire tuple.

In [9]:
# Original tuple
tup1 = (1, 2, 3, 4)

# Unpacking the tuple and changing the second element
a, b, c, d = tup1
b = 10  # Update second element

# Create a new tuple using the updated values
tup2 = (a, b, c, d)

# Printing the updated tuple
print(tup2)

(1, 10, 3, 4)

In [10]:
# Tuple packing
my_tuple = 1, "hello", 3.14
print(my_tuple)  # Output: (1, 'hello', 3.14)
print(type(my_tuple)) # Output: <class 'tuple'>

#Packing with parentheses
another_tuple = (10, 20, 30)
print(another_tuple) # Output: (10, 20, 30)

(1, 'hello', 3.14)
<class 'tuple'>
(10, 20, 30)


 <h1>Loop Tuples</h1>

<h1>Loop Through a Tuple</h1>
You can loop through the tuple items by using a for loop.

In [11]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

<h1>Loop Through the Index Numbers</h1>
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [12]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

<h1>Using a While Loop</h1>

You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [13]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry