<h1>Multiplication table generator</h1>

In [2]:
c=3
r=10
i=1
while i<=10:
    print(f"{c} x {i} = {c * i}")
    i+=1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

<h1>Star patterns (*)</h1>

 <h1>1. Right-Angled Triangle</h1>

In [3]:
n = 5
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****

<h1>2. Left-Aligned Inverted Triangle</h1>

In [4]:
n = 5
for i in range(n, 0, -1):
    print('*' * i)

*****
****
***
**
*

 <h1>3. Right-Aligned Triangle</h1>

In [5]:
n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * i)

    *
   **
  ***
 ****
*****

<h1>4. Inverted Right-Aligned Triangle</h1>

In [6]:
n = 5
for i in range(n, 0, -1):
    print(' ' * (n - i) + '*' * i)

*****
 ****
  ***
   **
    *

 <h1>5. Pyramid</h1>

In [7]:
n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

<h1>6. Inverted Pyramid</h1>

In [8]:
n = 5
for i in range(n, 0, -1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

*********
 *******
  *****
   ***
    *

<h1>7. Diamond</h1>

In [9]:
n = 5
# Upper half
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * (2 * i - 1))
# Lower half
for i in range(n - 1, 0, -1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

<h1>8. Hollow Square</h1>

In [10]:
n = 5
for i in range(n):
    if i == 0 or i == n - 1:
        print('*' * n)
    else:
        print('*' + ' ' * (n - 2) + '*')

*****
*   *
*   *
*   *
*****

<h1>Sum of all even numbers from 1 to 100</h1>

In [15]:
total = 0
for i in range(2, 101,2):
    total += i

print("Sum of even numbers from 1 to 100 is:", total)

Sum of even numbers from 1 to 100 is: 2550